<%- include('partial/header'); -%>
<% if(aut==true){ %> 
<div>
    <h1 style="text-align: center; color: white;">discussion portal</h1>
    <% content.forEach(gen=>{ %>
        <h1 style="color: white;"><%= gen.genres %></h1>
        <ul>
        <% gen.post.forEach(pst =>{ %>
            <li style="color: white;"><%= pst.user?.username %> : <%= pst.text %></li>
        <% }); %>
        </ul>
    <% }); %>
</div>
<% } %>

<%- include('partial/footer'); -%>
