<%- include('partial/header'); -%>
<% if(aut==true){ %> 
<div style="background-color: beige;">
    <h1 style="text-align: center; color: white;">discussion portal</h1>
      <form action="/genre" method="post">
            <% cu_int[0].interest.forEach(int=>{ %> 
                <button type="submit" name="c_gen" value=<%= int %> ><%= int %></button>
            <% }) %>
        </form>
          <% content.forEach(cont=>{ %>
             <%  if(cont.genres==curr_gen){ %>
                   <h1><%= cont.genres %></h1>
               <div>
                 <%  cont.post.forEach(pst=>{ %>
                       <li><%= pst.text %></li>
                 <%  }) %>
               </div>
               <form class="item" action="/pst" method="post">
                   <input type="text" name="nPost" placeholder="New Post" autocomplete="off">
                   <input type="hidden" name="gen" value=<%= curr_gen %> >
                   <button type="submit" name="np" value="<%=  %>">POST</button>
               </form>
           <% }  %>
        
       <% }) %>

</div>
<% } %>

<%- include('partial/footer'); -%>
