<%- include('partial/header'); -%>


<div class="group">
<div class="ribbon">
<h3 class="sub_head">Most Popular</h3>
<a href="/genre/1/mp" class="rm">See More..</a>
</div>
<main id="main">
        
    <% for(i=0;i < 6;i++) { %>   
    <div class="box">
        <a class="m_btn" href="/dt/<%= p_result[i].id %>">
        <span class="green"><%= p_result[i].vote_average %></span>
        <img src= <%= "https://image.tmdb.org/t/p/w500"+ p_result[i].poster_path  %> alt="" class="image">
        <div class="info">
            <h3 class="title"><%= p_result[i].original_title %></h3>
            
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptas nihil odio ad itaque voluptatibus quasi temporibus eos, harum quo animi ut! Et, odit nihil cumque possimus, inventore laborum quod nam quia totam incidunt, fugiat blanditiis voluptatibus dicta ipsam esse!
        </div>
       </a>
    </div>
    <% } %>
</main>
</div>
<div class="group">
    <div class="ribbon">
      <h3 class="sub_head">Bollywood</h3>
      <a href="/genre/1/bollywood" class="rm">See More..</a>
</div>
<main id="main">
        
    <% for(i=0;i < 6;i++) { %>   
    <div class="box">
        <a class="m_btn" href="/details/<%= b_result[i].id %>">
        <span class="green"><%= b_result[i].vote_average %></span>
        <img src= <%= "https://image.tmdb.org/t/p/w500"+ b_result[i].poster_path  %> alt="" class="image">
        <div class="info">
            <h3 class="title"><%= b_result[i].title %></h3>
            
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptas nihil odio ad itaque voluptatibus quasi temporibus eos, harum quo animi ut! Et, odit nihil cumque possimus, inventore laborum quod nam quia totam incidunt, fugiat blanditiis voluptatibus dicta ipsam esse!
        </div>
        </a>
    </div>
    <% } %>
    
</main>
</div>
<div class="group">
  <div class="ribbon">
  <h3 class="sub_head">Horror</h3>
  <a href="/genre/27/Horror" class="rm">See More..</a>
</div>
<main id="main">
        
    <% for(i=0;i < 6;i++) { %>   
    <div class="box">
        <a class="m_btn" href="/details/<%= h_result[i].id %>">
        <span class="green"><%= h_result[i].vote_average %></span>
        <img src= <%= "https://image.tmdb.org/t/p/w500"+ h_result[i].poster_path  %> alt="" class="image">
        <div class="info">
            <h3 class="title"><%= h_result[i].title %></h3>
            
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptas nihil odio ad itaque voluptatibus quasi temporibus eos, harum quo animi ut! Et, odit nihil cumque possimus, inventore laborum quod nam quia totam incidunt, fugiat blanditiis voluptatibus dicta ipsam esse!
        </div>
        </a>
    </div>
    <% } %>
    
</main>
</div>
<div class="group">
<div class="ribbon">
<h3 class="sub_head">Thriller</h3>
<a href="/genre/53/Thriller" class="rm">See More..</a>
</div>
<main id="main">
        
    <% for(i=0;i < 6;i++) { %>   
    <div class="box">
        <a class="m_btn" href="/details/<%= t_result[i].id %>">
        <span class="green"><%= t_result[i].vote_average %></span>
        <img src= <%= "https://image.tmdb.org/t/p/w500"+ t_result[i].poster_path  %> alt="" class="image">
        <div class="info">
            <h3 class="title"><%= t_result[i].title %></h3>
            
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptas nihil odio ad itaque voluptatibus quasi temporibus eos, harum quo animi ut! Et, odit nihil cumque possimus, inventore laborum quod nam quia totam incidunt, fugiat blanditiis voluptatibus dicta ipsam esse!
        </div>
        </a>
    </div>
    <% } %>
    
</main>
</div>
<div class="group">
  <div class="ribbon">
    <h3 class="sub_head">Animation</h3>
    <a href="/genre/16/Animation" class="rm">See More..</a>
  </div>
<main id="main">
        
    <% for(i=0;i < 6;i++) { %>   
    <div class="box">
        <a class="m_btn" href="/details/<%= an_result[i].id %>">
        <span class="green"><%= an_result[i].vote_average %></span>
        <img src= <%= "https://image.tmdb.org/t/p/w500"+ an_result[i].poster_path  %> alt="" class="image">
        <div class="info">
            <h3 class="title"><%= an_result[i].title %></h3>
            
        </div>
        <div class="overview">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde voluptas nihil odio ad itaque voluptatibus quasi temporibus eos, harum quo animi ut! Et, odit nihil cumque possimus, inventore laborum quod nam quia totam incidunt, fugiat blanditiis voluptatibus dicta ipsam esse!
        </div>
        </a>
    </div>
    <% } %>
    
</main>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<%- include('partial/footer'); -%>